.h1tag{
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    0% {
        color: red;
    }

    25%{
        color: orange;

    }

    50%{
        color: blue;
    }

    75%{
        color: aqua;
    }
}